.auth {
    flex: 1 1 auto;
    margin: 1%;
    background-color: rgb(39, 38, 39);
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-color: grey;
    flex-wrap: wrap;
    padding: 3% 5%;
    max-width: 40rem;
    flex-wrap: wrap;
}

.auth_header {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
}

small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.send {
    font-weight: 700;
    font-size: 1rem;
    background-color: black;
    border-color: white;
    display: block;
    margin: 2rem auto;
    width: 60%;
}

.send:hover {
    background-color: grey;
    color: black;
}

label{
    margin: 2% 0;
}