.userProfile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* flex: 0 0 auto; */
    /* margin-right: 1%; */
    background-color: rgb(39, 38, 39);
    border: 2px solid grey;
    border-radius: 1%;
}

@media screen and (max-width: 576px){ 
    .userProfile {
          max-width: 100%;
    }
    .userProfile {
        justify-content: center;
    }
}

.user_avatar {
    margin: 1.5rem;
    max-width: 15rem;
    max-height: 15rem;
    /* border: white; */
    /* border-width: 3px; */
    /* border-style: solid; */
    /* border-radius: 5%; */
}
.user_name {
   margin: 1.5rem ;
   color: white;
   font-size: 2rem;
   font-weight: 700;

}
.user_data {
   color: white;
   margin-left: 3rem;
}